<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/styles/critical.css" rel="stylesheet" type="text/css" inline>
    <title>{{ title }}</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/notes">Notes</a></li>
        |
        <li><a href="/">Adam Buczek</a></li>
      </ul>
    </nav>
    <main role="main">
    {% block content %}
      {{ content | safe }}
    {% endblock %}
    </main>
    <link href="/styles/global.css" rel="stylesheet" type="text/css">
  </body>
</html>