{% extends "index.njk" %}

{% block content %}
    <h1>Notes</h1>
      <ul class="notes">
        {%- for note in collections.note | reverse -%}
          <li>
            <a href="{{ note.url }}">{{ note.data.title }}</a>
            <span class="date">{{ note.date | formatDate }}</span>
          </li>
        {%- endfor -%}
      </ul>
{% endblock %}