{% extends "index.njk" %}

{% block content %}
    <h1>{{ title }}</h1>
      <ul>
        {%- for note in collections.note | reverse -%}
          <li class="clearfix">
            <a class="float-left" href="{{ note.url }}">{{ note.data.title }}</a>
            <span class="float-right">{{ note.date | formatDate }}</span>
          </li>
        {%- endfor -%}
      </ul>
{% endblock %}