{% extends "index.njk" %}

{% block content %}
  {%- if not published -%}
  <span><strong>DRAFT</strong></span>
  {%- else -%}
  <span class="journal-entry--date">{{ page.date | formatDate }}</span>
  {%- endif -%}
  {%- if codepen -%}
    <a class="journal-entry--codepen-link" href="{{ codepen }}">
      on codepen
    </a>
  {%- endif -%}
  {%- if image -%}
  <img src="{{ image }}" alt="{{ title | striptags | safe }}" title="{{ title | striptags | safe }}">
  {%- endif -%}
  <h1>{{ title | markdown | safe }}</h1>
  {{ content | safe }}
{% endblock %}