@import 'vars';
@import 'functions';

code[class*="language-"],
pre[class*="language-"] {
  color: #f8f8f2;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: to-rem(3*8);

  tab-size: 4;

  hyphens: none;
}

pre[class*="language-"] {
  position: relative;
  padding: to-rem(2*8) 0;
  margin: to-rem(2*8) 0;
  overflow: auto;
  border-radius: 0;
  counter-reset: line;
}

// padding on pre doesn't work on firefox mobile
// this does
code[class*="language-"] > span {
  padding: 0 3rem;
}

code[class*="language-"] > span:before {
  counter-increment: line;
  content: counter(line);
  text-align: right;
  width: 2rem;
  position: absolute;
  left: 0;
  opacity: .2;
}
