@import 'includes/vars';
@import 'includes/functions';

.page--index {

  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .max-2-col li {
    flex: 200px;
  }

  .max-3-col li {
    flex: 150px;
  }


}