@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600|Roboto+Slab');

@import 'includes/vars';
@import 'includes/functions';

* {
  box-sizing: border-box
}

html {
  $base-font-size: 16;
  font-size: #{$base-font-size}px;
}

body {
  font-family: 'Roboto Slab', serif;
  padding: 0;
  margin: 0;
  font-size: to-rem(2*8);
  line-height: to-rem(3*8);
}

nav {
  margin: to-rem(2*8) 5%;
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    display: inline;
    margin: 0 1rem;
    &:first-child {
      margin-left: 0;
    }
  }
  @media screen and (min-width: 670px) {
    margin-left: to-rem(2*8);
  }
}

main {
  width: 90%;
  max-width: 600px;
  margin: to-rem(6*8) auto;
}

h1, h2, h3, h4, h5 {
  color: lighten($primary-text-color, 10);
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

h1 {
  margin: to-rem(4*8) 0 to-rem(3*8);
  font-size: to-rem(5*8);
  line-height: to-rem(6*8);
  font-weight: 300;
}

h2 {
  margin: to-rem(4*8) 0 to-rem(2*8);
  font-size: to-rem(4*8);
  line-height: to-rem(5*8);
}

h3 {
  margin: to-rem(2*8) 0 to-rem(1*8);
  font-size: to-rem(3*8);
  line-height: to-rem(4*8);
  font-weight: 600;
}

h4 {
  margin: to-rem(1*8) 0;
  font-size: to-rem(2*8);
  line-height: to-rem(3*8);
  font-weight: 600;
}

h5 {
  margin: to-rem(1*8) 0;
  font-size: to-rem(2*8);
  line-height: to-rem(3*8);
  font-weight: 400;
  // font-family: inherit;
}

hgroup {
  margin: to-rem(2*8) 0;
  h1, h2, h3, h4, h5 {
    margin: 0;
  }
}

p, ul, iframe {
  margin: to-rem(2*8) 0;
  font-size: to-rem(2*8);
  line-height: to-rem(3*8);
  code {
    // prevent inline code blocks from messing up the baseline grid
    line-height: to-rem(1*8);
  }
}

ul {
  padding: 0 0 0 to-rem(2*8);
}

footer img {
  height: 24px;
}
