@import 'includes/vars';
@import 'includes/functions';

* {
  box-sizing: border-box
}

html {
  $base-font-size: 16;
  font-size: #{$base-font-size}px;
}

body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  font-size: to-rem(2*$modular-scale-base-px);
  line-height: to-rem(3*$modular-scale-base-px);
}

nav {
  margin: to-rem(2*$modular-scale-base-px) 5%;
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    display: inline;
    margin: 0 1rem;
    &:first-child {
      margin-left: 0;
    }
  }
  @media screen and (min-width: 670px) {
    margin-left: to-rem(2*$modular-scale-base-px);
  }
}

main {
  width: 90%;
  max-width: 720px;
  margin: to-rem(6*$modular-scale-base-px) auto;
}

h1, h2, h3, h4, h5, strong, em, p code,
h1 span, h2 span, h3 span, h4 span, h5 span {
  background: $accent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1, h2, h3, h4, h5 {
  //color: lighten($primary-text-color, 10);
  font-family: sans-serif;
  font-weight: 400;
}

h1 {
  margin: to-rem(4*$modular-scale-base-px) 0 to-rem(3*$modular-scale-base-px);
  font-size: to-rem(5*$modular-scale-base-px);
  line-height: to-rem(6*$modular-scale-base-px);
  font-weight: 300;
}

h2 {
  margin: to-rem(4*$modular-scale-base-px) 0 to-rem(2*$modular-scale-base-px);
  font-size: to-rem(4*$modular-scale-base-px);
  line-height: to-rem(5*$modular-scale-base-px);
}

h3 {
  margin: to-rem(2*$modular-scale-base-px) 0 to-rem(1*$modular-scale-base-px);
  font-size: to-rem(3*$modular-scale-base-px);
  line-height: to-rem(4*$modular-scale-base-px);
  font-weight: 600;
}

h4 {
  margin: to-rem(1*$modular-scale-base-px) 0;
  font-size: to-rem(2*$modular-scale-base-px);
  line-height: to-rem(3*$modular-scale-base-px);
  font-weight: 600;
}

h5 {
  margin: to-rem(1*$modular-scale-base-px) 0;
  font-size: to-rem(2*$modular-scale-base-px);
  line-height: to-rem(3*$modular-scale-base-px);
  font-weight: 400;
  // font-family: inherit;
}

hgroup {
  margin: to-rem(2*$modular-scale-base-px) 0;
  h1, h2, h3, h4, h5 {
    margin: 0;
  }
}

p, ul, ol, iframe, blockquote {
  margin: to-rem(2*$modular-scale-base-px) 0;
  font-size: to-rem(2*$modular-scale-base-px);
  line-height: to-rem(3*$modular-scale-base-px);
  code {
    // prevent inline code blocks from messing up the baseline grid
    line-height: to-rem(1*$modular-scale-base-px);
  }
}

ul, ol {
  padding: 0 0 0 to-rem(3*$modular-scale-base-px);
}

footer img {
  height: 24px;
}

section {
  padding: to-rem(2*$modular-scale-base-px) 0;
}

hr {
  margin: to-rem(4*$modular-scale-base-px) 0;
}

sup.footnote-ref {
  font-size: to-rem(2*$modular-scale-base-px);
  // prevent footnotes from messing up the baseline grid
  line-height: to-rem(1*$modular-scale-base-px);
}

blockquote {
  border-left: 6px rgba(1,1,1,.05) solid;
  background-color: rgba(1,1,1,.05);
  padding-left: to-rem(2*$modular-scale-base-px);
  padding-right: to-rem(1*$modular-scale-base-px);
  padding-top: to-rem(.5*$modular-scale-base-px);
  padding-bottom: to-rem(.5*$modular-scale-base-px);
}