// @import url('https://fonts.googleapis.com/css?family=Montserrat:400,500|Roboto+Slab');

@import 'includes/vars';
@import 'includes/functions';

nav, footer {
  display: none;
}

main {
  width: auto;
  max-width: none;
  margin: 0;
}

@page {
  margin: 2cm;
}

h1 {
  margin: to-rem(2*8) 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: $primary-text-color;
}

@import 'includes/prism-theme-print';